
a {
    color: black;
    text-decoration:none;
}

li a {
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    width: 140px;
    height: 25px;
    text-decoration: none;
    color: black;
    background-color: Cornsilk;
    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 1px solid Cornsilk;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
    }
.ubranie li {
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    width: 140px;
    height: 25px;
    text-decoration: none;
    color: black;
    background-color: Snow;
    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 1px solid Snow;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
    }
.nazwa {font-family:'Freestyle Script'; font-size:50px; width:"200px";}


body {font-family: 'Candara Light';}
h3 {background-color: Cornsilk; text-align:center;}
h1 {text-align: center;}



.glowne_zdj {height: 10px;}
.o_nas {margin-left:80px; margin-right:80px;}


form{ margin-left: 120px;} 
.formularz{float:right; margin-right:800px;}
.przycisk {background-color: Cornsilk; color: black; margin-left: 330px; width: 100px; height: 40px;}
textarea {width: 170px; resize:none;}


.pytanie {background: Cornsilk;}



select {background-color: Cornsilk; height:40px; width: 200px; }
.tkanina {margin-left:550px; }
.naukajakprojektowac {text-align: justify; margin-left: 70px; margin-right: 70px; text-indent: 9%}
h4 {text-align: center;}
.dodajprojekt {background-color: Cornsilk; color: black; margin-left: 520px; width: 300px; height: 70px;}
.garnitur {margin-left: 70px; margin-right: 70px;}
